extends layout

block content
	h1 Exposure crm 
	p.lead A photography focused customer relationship management system

	div
		input(type="text" placeholder="username")
		input(type="text" placeholder="password")

