<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://my.site.org">
<body>
	<wicket:panel>
		<div class="list-group-body">
			<div class="list-group-item-picture">
				<img src="http://placehold.it/40x40"/>
			</div>
			<h4 class="list-group-item-heading"><span wicket:id="item-heading"></span></h4>
			<p class="list-group-item-text"><span wicket:id="item-text"></span></p>
			<div class="list-group-item-button">
				<a class="btn btn-primary" wicket:id="details-button">Details</a>
			</div>
		</div>
		<div class="list-group-item-details" wicket:id="details-section">
			<h4>Address</h4>
			<p>11 Tamarisk Court <br/> 
			Thatcham <br/>
			Berkshire
			</p>
		</div>
	</wicket:panel>
</body>
</html>